$_color_1: #0e1112;
$_color_1_oposite: rgb(10, 12, 12, 0.8);

$_color_2: #efdfff;
$_color_3: #0b86af;

$_color_4: rgb(255, 255, 255);
$_color_4_oposite: rgb(255, 255, 255, 0.1);
$_color_5: #CC7B3E;


