.hero{
    // background-color: $_color_1;
    .container_{
        @include flex(column, center, center);
        padding-top: 80px;
    }

    .hero_left{
        text-align: center;
        @include flex(column, center, center);
        figure{
            border-radius: 50%;
            overflow: hidden;
            width: 150px;
            height: 150px;

            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        .infos{
            // border: solid 3px blue;
            h1{
                font-size: 3rem;
                line-height: 1;
                margin-top: 20px;
            }
            h2{
                font-size: 1.3rem;
            }
            .links{
                margin: 30px 0 0;
                ul{
                    @include flex(row, center, center);
                    gap: 10px;
                    li{
                        display: flex;
                        height: 40px;
                        width: 40px;
                        // overflow: hidden;
                        a{
                            background-color: $_color_4_oposite;
                            @include flex(row, center, center);
                            width: 100%;
                            height: 100%;
                            font-size: 1.5rem;
                            border-radius: 50%;

                            i{
                                color: $_color_2;
                            }

                            @extend .btn_hover;

                            position: relative;

                            &::after{
                                background-color: $_color_2;
                                color: $_color_1;
                                border-radius: 5px;
                                position: absolute;
                                    bottom: -40px;
                                    left: 0;
                                padding: 4px 10px;
                                font-size: 12px;
                                opacity: 0.8;
                                font-weight: 400;
                                transition: 0.2s;
                            }
                        }
                    }

                    li:first-child a:hover::after{
                        content: 'Mon Linkedin';
                    }
                    li:nth-child(2) a:hover::after{
                        content: 'Mon GitHub';
                    }
                    li:nth-child(3) a:hover::after{
                        content: 'Mon C.V.';
                    }
                }
            }
        }
    }

    .hero_right{
        button{
            padding: 10px 20px;
            // background-color: $_color_3;
            background-color: $_color_4_oposite;
            color: $_color_2;
            border-radius: 5px;
            margin: 50px 0;
            font-weight: 400;

            i{
                font-size: 1.1rem;
            }
            
            @extend .btn_hover;
        }
    }

    .modal_mail{
        // background-color: $_color_1_oposite;
        position: fixed;
            top: 0;
            left: 0;
        z-index: 1000;
        width: 100%;
        height: 100vh;

        @include flex(column, center, center);

        .modal_content{
            @include flex(column, center, flex-start);
            border-radius: 20px;
            padding: 20px;
            background-color: $_color_3;
            box-shadow: 2px 2px 10px $_color_1;

            .close{
                align-self: flex-end;
                font-size: 2rem;
                color: $_color_2;
                cursor: pointer;

                &:hover{
                    color: $_color_1;
                }
            }

            h2{
                margin: 10px 0;
            }

            label{
                // font-size: 1.2rem;
                width: 100%;
                margin-bottom: 10px;
                color: $_color_2;
                // font-weight: 400;
            }
            input, textarea{
                width: 100%;
                padding: 10px;
                border-radius: 5px;
                border: none;
                margin-bottom: 20px;
                color: $_color_1;
                font-weight: 400;
            }
            textarea{
                height: 100px;
            }

            button{
                padding: 10px 20px;
                background-color: $_color_1;
                color: $_color_2;
                border-radius: 5px;
                margin: 10px 0;
                font-weight: 400;

                &:hover{
                    background-color: $_color_2;
                    color: $_color_1;
                }
                
                // @extend .btn_hover;
            }

        }
        .modal_content_off{
            font-size: 0;
            transition: 0.3s;
        }
        .modal_content_on{
            font-size: 1rem;
            transition: 0.3s;
        }
    }

    @include media-queries(md){
        .container_{
            @include flex(row, space-between, center);
            padding: 60px 20px;
        }

        .hero_right{
            button{
                margin: 20px 0;
            }
        }

        .hero_left{
            @include flex(row, space-between, center);
            text-align: left;
            // figure{
            //     width: 200px;
            //     height: 200px;
            // }
            .infos{
                margin-left: 20px;
                h1{
                    margin-top: 0px;
                }
                .links{
                    ul{
                        @include flex(row, flex-start, center);
                    }
                }
            }
        }
    }
}